################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Adsphere Project.slnx/FileContentIndex
/obj/Debug/net10.0
/obj/Container
/obj
